body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  color: #757575
  margin: 0px;
}

:root {
  --chromatic-color: #2196f3;
}

/* Устранение лишнего */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

/* ХЕДЕР и ФУТЕР */

.page-header {
  background-color: #ffffff;
  height: 80px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 215px;
}

.header-list {
  display: flex;
  padding: 15px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: var(--chromatic-color);
}

/* ЛОГОТИП и ССЫЛКИ в футере и хедере */

.logo-header {
  font-family: "Raleway", sans-serif;
  color: var(--chromatic-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header span {
  color: #000000;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--chromatic-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer span {
  color: #ffffff;
}

.header-links {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-left: 50px;
  background-color: #fff;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-links:hover,
.header-links:focus {
  color: var(--chromatic-color);
}

.header-kontakts {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-kontakts:hover,
.header-kontakts:focus {
  color: var(--chromatic-color);
}

.footer-location {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-kontakts {
  color: rgba(100%, 100%, 100%, 60%);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.heading-one {
  background-color: #2f303a;
  height: 600px;
}

h1 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-service-button {
  color: #ffffff;
  background-color: var(--chromatic-color);
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}